<h1>Your Text Analysis</h1>
    
<h2>Number of Words: <%= @a.count_of_words%> </h2>

<h2>Vowels: <%= @a.count_of_vowels%></h2>

<h2>Consonants: <%= @a.count_of_consonants%></h2>
<% b=@a.most_used_letter%>
<h2>Most Common Letter: <%=@a.most_used_letter.keys.first.upcase%>, used <%=@a.most_used_letter.values.first%> times</h2>
